body{
    margin: 0;
    padding: 0;
}

.table-dark {
    color: #fff;
    margin: 0;
    background-color: #212529;
}

#container2 {
    height: 20em;
    background-color: green;
    background-image: url("img/movies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    margin-top: -9em;
}

