body{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.table-dark {
    color: #fff;
    margin: 0;
    background-color: #212529;
}

#navbar{
    margin-top: 30px;
    opacity: .8;
}

#navContainer button{
    color: red;
    font-family: 'Teko', sans-serif;
}

#navContainer button:hover{
    background-color: red;
    color: black;
}

#navContainer h1{
    color: red;
    font-family: 'Lobster', cursive;
}

#navContainer a {
    color: red;
}

#navContainer a:hover {
    color: black;
    text-decoration: none;
}

#container1 td {
    font-size: 1.3em;
}

#container1 th,td {
    font-family: 'Play', sans-serif;
    color: red;
}

#container1 button{
    color: red;
}

#container1 button:hover {
    background-color: red;
    color: black;
}

#container2 {
    height: 47em;
    background-color: green;
    background-image: url("img/movies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    margin-top: -15em;
}

#container3 {
    height: 40em;
    background-color: green;
    background-image: url("img/curtain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    margin-top: -7em;
}

#postFrom{
    height: 38em;
}

