html, body {
    height: 100%;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



html,body{
    margin : 0;
    background : #131313;
    color: lightgray;
}

.load-screen{
    --size : 200px;
    width : var(--size);
    height : var(--size);
    position : absolute;
    left : calc(50% - var(--size)/2);
    top :  calc(50% - var(--size)/2);
    background : #131835;
    border-radius : 50%;
    border : 5px solid #212642;
    background-image : radial-gradient(circle,white 1px, transparent 4px),radial-gradient(circle,white 1px, transparent 4px);
    background-size : calc(var(--size)/2) calc(var(--size)/2), calc(var(--size)/1.5) calc(var(--size)/1.2);
    background-position : 0px 0px;
    animation : silly 20s linear infinite;
}

.load-screen:before{
    position : absolute;
    content  : "";
    width : calc(var(--size)/2);
    height : calc(var(--size)/2);
    border-radius : 50%;
    border-right : calc(var(--size)/8) solid #cdc1c1;
    transform : rotate(25deg);
    top : 20%;
    left : 10%;
    animation : nilly 2.5s linear 1s infinite;
}

.load-screen:after{
    position : absolute;
    content  : "";
    width : calc(var(--size)/3);
    height : calc(var(--size)/5);
    /*   background : yellow; */
    top : 35%;
    left : 10%;
    background-image : radial-gradient(circle, #808080e8 calc(var(--size)/12), transparent calc(var(--size)/11)),radial-gradient(circle, #736e74 calc(var(--size)/13), transparent calc(var(--size)/12)),radial-gradient(circle, grey calc(var(--size)/16), transparent calc(var(--size)/14));
    background-position : 0px calc(var(--size)/20), calc(var(--size)/12) calc(var(--size)/12),calc(0px - var(--size)/12) calc(var(--size)/12);
    background-repeat :no-repeat;
    animation : willy 2s linear infinite;

}

@keyframes willy{
    50%{ left : 15%}
}

@keyframes nilly{
    50%{ top : 25%}
}

@keyframes silly{
    100%{ background-position : calc(var(--size)*3) 0px;
    }
}
