.post-load-container {
    display: none;
}

.container {
    display: flex;
}

.page-display {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titleHeading {
    display: flex;
    align-self: center;
    margin-bottom: 3em;
}

#frogLogo {
    width: 6em;
    height: 6em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tabEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
}

.tabMovies {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

#edit-movie {
    display: none;
}

#add-movie #edit-movie {
    display: flex;
}

label {
    font-size: 1.2em;
}

.title {
    font-size: 3em;
    width: 250px;
    margin-bottom: 150px;
    display: inline-table;
    word-break: break-word;
}

.rating {
    font-size: 1.3em;
    margin-bottom: -1px;
}

#movie-container {
    display: flex;
}

.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("img/frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 119% 100%;
    padding: 15px 35px;
    width: auto;
}

.subContainer {
    display: flex;
    flex-direction: column;
}