html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    /*height: 500vh;*/
}

#main-page{
    min-height: 89vh;
}

#main-row{
    height: 89vh;
}

#searchBar{
    background-color: lightgreen;
    width: .3fr;
}


.footer {
    background-color: #4d594f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 1em;
}
.noMatchInfo{
    display: none;
}
