html, body {
    background-image: url("lights.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    top: 50%;
    /*transform: translateY(-100%);*/
    text-align: center;
}

.hide {
    display: none;
}

#loading {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: lightblue;
    display: flex;
    text-align: center;
    justify-content: center;

}

#main {

}

.nav {
    color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.addMovie {
    display: flex;
    height: 20px;
    width: 150px;
    justify-items: center;
}

.card {
    height: 250px;
    width: 250px;
    margin: 8px;
    background-color: brown;
    border-radius: 10px;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.delete {
    height: 25px;
    width: 25px;
    border-radius: 10px;
}

.edit-button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.confirm {
    /*height: 40px;*/
    /*width: 40px;*/
    border-radius: 10px;
}

.edit {
    border-radius: 10px;
}