html, body {
    height: 100%;
}

.card {
    margin: 12px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(Preloader_3.gif) center no-repeat #fff;
}

.container {
    display: flex;
}

.banner {
    background-image: url("video-reel-clipart-1.jpg");
    background-size: cover;
    margin: 0 0 20px 0;
}

.logo {
    background-color: white;
    display: flex;
}

