html {
    height: 100%;
    font-family: 'Inknut Antiqua', serif;
    background-color: lightsteelblue;
    color: #232635;
}

.container {
    text-align: center;
}

body{
    height: 100%;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 15% 40% 15% 7.5% 7.5% 10% 5%;
}

header{
    text-align: center;
    grid-row: 1;
    grid-column: 1/9;
    font-size: 20px;
}

#movieScrollBar{
    border: solid black 5px;
    border-radius: 15px;
    grid-row: 2;
    grid-column: 1/9;
}

#starBar{
    /*border: solid black 5px;*/
    /*border-radius: 15px;*/
    grid-row: 3;
    grid-column: 2/8;
    /*padding-left: 4%;*/
    /*padding-right: 2.5%;*/
    width: 100%;

    /*position: relative;*/

}

#editDelete{
    grid-row: 4;
    grid-column: 2/8;
}

#AddField{
    grid-row: 5;
    grid-column: 3/7;
}

#edit-button {
    font-size: 1.5em;
    margin-right: 5%;
    grid-row: 4;
    grid-column: 2/4;
    width: 44%;
    height: 100%;
    border-radius: 15px;
    font-family: 'Inknut Antiqua', serif;
    vertical-align: center;
}

#delete-button {
    font-size: 1.5em;
    margin-left: 5%;
    grid-row: 4;
    grid-column: 5/7;
    width: 44%;
    height: 100%;
    border-radius: 15px;
    font-family: 'Inknut Antiqua', serif;

}
/*#star-rank1, #star-rank2, #star-rank3, #star-rank4, #star-rank5 {*/
    /*border-radius: 15px;*/
    /*border: purple solid 2px;*/

/*}*/

#star-rank1 {
    grid-row: 3;
    grid-column: 2/3;
    width: 20%;
    float: left;
    height: 100%;
    border-radius: 15px;


}

#star-rank2 {
    grid-row: 3;
    grid-column: 3/4;
    width: 20%;
    float: left;
    height: 100%;
    border-radius: 15px;


}

#star-rank3 {
    grid-row: 3;
    grid-column: 4/5;
    width: 20%;
    float: left;
    height: 100%;
    border-radius: 15px;


}

#star-rank4 {
    grid-row: 3;
    grid-column: 5/6;
    width: 20%;
    float: left;
    height: 100%;
    border-radius: 15px;



}

#star-rank5 {
    grid-row: 3;
    grid-column: 6/7;
    width: 20%;
    float: left;
    height: 100%;
    border-radius: 15px;

}

#input-add-field {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
}

#add-button {
    font-size: 1em;
    border-radius: 15px;
    font-family: 'Inknut Antiqua', serif;
}






