html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

table {
    width: 100%;
    /*border: 1px solid black;*/
    background-color: lightskyblue;
}

/*table td {*/
    /*border: 1px solid black;*/

/*}*/

table th {
    border: 1px solid black;
}
.editRow {
    visibility: hidden;
}
.visible{
    visibility: visible;
}

