html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.movie_edit {
   margin-left: 20px;
    border: solid .2px black;
}
