html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1.0 )
    url('loader.gif')
    50% 50%
    no-repeat;
    overflow: hidden;
}


h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;

}

#addMovie {
    color: #000;
    background-color: mediumturquoise;
}