html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
.loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 50px 0 0 -50px;
}
.center{
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bodyHTML {
    position: relative;
    margin: 50px 0 0 -50px;
}


table, th, td {
    border: 1px solid black;

}
