html, body {
    height: 100%;
}

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

.form-design {
    background-color: #f320f0;
    border-radius: 5px;
    padding: 30px;
    margin-top: 100px;
    margin-left: 50px;
}

.hiding {
    display: none;
}